html, body {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#freq-range {
    width: 100%;
}

#volume-range {
    width: 100%;
}

.theremin-box {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: #123;
}

#webcam {
    position: relative;
    top: -2px;
    display: none;
}

#canvas {
    position: relative;
    top: -2px;
    left: -2px;
    z-index: 9999;
}
